<div class="col-sm-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">State</th>
				<th scope="col">Positive</th>
				<th scope="col">Negative</th>
				<th scope="col">Tests</th>
				<th scope="col">Recovered</th>
				<th scope="col">Death</th>
				<th scope="col">Data Grade</th>
			</tr>
		</thead>
		<tbody>
			<% @states.each.with_index(1) do |state, index| %>
			<tr>
				<td><%= index %></td>
				<td><a href="/states/<%= state.state %>"><%= state.name %></a></td>
				<td><%= state.print_positive %></td>
				<td><%= state.print_negative %></td>
				<td><%= state.print_totalTestResults %></td>
				<td><%= state.print_recovered %></td>
				<td><%= state.print_death %></td>
				<td><%= state.print_grade %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
