<div class="col-sm-12">
	<div class="card mb-3" style="">
		<div class="row no-gutters">
			<div class="col-md-4">
				<a href="<%= @state.covid19Site %>" target="_blank"><img src="<%= @state.last_screenshot %>" class="card-img"></a>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">
						<%= @state.name %> <%= @state.print_twitter %>
					</h5>
				</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Data Quality Grade: <%= @state.print_grade %></li>
						<li class="list-group-item"><a href="<%= @state.covid19Site %>" target="_blank"> Covid-19 Dashboard <i class="fas fa-link"></i></a> </li>
						<li class="list-group-item"><i class="fas fa-plus-circle"></i> <%= @state.print_positive %></li>
						<li class="list-group-item"><i class="fas fa-minus-circle"></i> <%= @state.print_negative %></li>
						<li class="list-group-item"><i class="fas fa-vials"></i> <%= @state.print_totalTestResults %></li>
						<li class="list-group-item">Deaths: <%= @state.print_death %></li>
						<li class="list-group-item">Currently Hospitalized: <%= @state.print_hospitalizedCurrently %></li>
						<li class="list-group-item">Cumulative Hospitalizations: <%= @state.print_hospitalizedCumulative %></li>
						<li class="list-group-item">Current ICU: <%= @state.print_inIcuCurrently %></li>
						<li class="list-group-item">Cumulative ICU: <%= @state.print_inIcuCumulative %></li>
						<li class="list-group-item">On Ventilator: <%= @state.print_onVentilatorCurrently %></li>
						<li class="list-group-item">Cumulative Ventilator: <%= @state.print_onVentilatorCumulative %></li>
						<li class="list-group-item"><%= @state.print_time_modified %></li>
						<li class="list-group-item"><%= @state.print_time_checked %></li>
					</ul>
				
			</div>
		</div>
	</div>
</div>